{% extends 'base.html' %}

{% block header %}
<li><a href="{{ url_for('index_page') }}">Home</a></li>
<li><a href="{{ url_for('get_coords', name='Sol') }}">Coordinats from name</a></li>
<li>Closest systems wihout coordinates</li>
{% endblock %}

{% block content %}
<p>{{ position.name }} {{ position.coordinates}}</p>
<table>
  <thead>
    <th>Name</th>
    <th>x</th>
    <th>y</th>
    <th>z</th>
    <th>Error</th>
    <th>Distance</th>
  </thead>
  <tbody>
    {% for system, distance in rows %}
      <tr>
        <td>{{ system.name }}</td>
        <td>{{ system.coordinates[0] }}</td>
        <td>{{ system.coordinates[1] }}</td>
        <td>{{ system.coordinates[2] }}</td>
        <td>{{ system.error }}</td>
        <td>{{ system.error }}</td>
        <td>{{ distance }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
