{% extends 'base.html' %}

{% block header %}
 <li><a href="{{ url_for('index_page') }}">Home</a></li>
 <li><a href="{{ url_for('get_coords') }}">Coordinates from name</a></li>
 <li class="selected">Closest systems without coordinates</li>
{% endblock %}

{% block content %}
  <h1>Closest untrilaterated systems</h1>

  <form action="{{ url_for('get_closest') }}" method="GET">
    <label for="system">System name</label>
    <input type="text" id="system" name="system">
    <button type="submit">Get closest</button>
  </form>

  {% if position is defined %}
    <p>{{ position.name }} {{ position.coordinates }}</p>
  {% endif %}

  {% if position is defined %}
    <table>
      <thead>
        <th scope="col">Name</th>
        <th scope="col">x</th>
        <th scope="col">y</th>
        <th scope="col">z</th>
        <th scope="col">Error</th>
        <th scope="col">Distance</th>
      </thead>
      <tbody>
        {% for system, distance in rows %}
          <tr>
            <td>{{ system.name }}</td>
            <td>{{ system.coordinates[0] }}</td>
            <td>{{ system.coordinates[1] }}</td>
            <td>{{ system.coordinates[2] }}</td>
            <td>{{ system.error }}</td>
            <td>{{ distance|round(2) }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
